{% import "_globals.njk" as globals %}

<footer class="footer">
    <a href="{{globals.github_url}}">GitHub</a>
    <a href="{{globals.linkedin_url}}">LinkedIn</a>
    <a href="{{globals.twitter_url}}">Twitter</a>
</footer>