{% extends "layout.njk" %}
{% import "macros/_header.njk" as header %}

{% block header %}
{{ header.renderHeader('contact') }}
{% endblock %}

{% block content %}
  <h1>Contact Us</h1>
{% endblock %}