<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Website</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    {% block header %} {% endblock %}
    <div class="main">
      {% block content %} {% endblock %}
    </div>
    {% include "partials/_footer.njk" %}
    {% block scripts %} {% endblock %}
  </body>
</html>